#map {
height: 850px;
width: 850px;
}

#title-container {
     position: absolute;
     z-index: 1000;
     top: 11px;
     left: 56px;
     background: #FFF;
     padding: 15px;
     border-radius: 7px;
   }

   h1, h3  {
     margin: 0;
   }


   .leaflet-fade-anim .leaflet-popup {
     transition: none;
   }

   #legend {
     float: right;
     background: #e6e6e6;
     padding: 12px;
     margin-left: 15px;
   }

   .colorBox {
     height: 10px;
     width: 10px;
     float: left;
     margin: 3px 4px 0 0;
   }
